<%- include('../includes/header'); %>

<div class="container-fluid">
  <div class="row mt-2">
    <% products.forEach((product) => { %>
      <div class="col-md-4 col-lg-2 m-2 m-md-0" id="productContainer">
        <img src="/<%= product.imagePath %>" class="img-fluid" style="width: 150px; height: 150px">
        <div class="d-inline-block d-md-block align-top">
          <h5><%= product.name %></h5> 
          <p><strong>$<%= product.price %></strong></p>
          <a href="/products/<%=product.id%>">Details</a>
            <input type="hidden" value="<%= product._id %>" name="productID">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="button" onclick="deleteProduct(this)" class="btn btn-sm btn-danger">Delete</button>
          <a class="btn btn-sm btn-warning" href="/admin/edit-product/<%=product.id%>">Edit</a>
        </div>
      </div>
    <% }); %>
  </div>
  <%- include('../includes/pagination') %>
</div>

<%- include('../includes/footer'); %>
<script src="/js/admin.js"></script>