<%- include('../includes/header'); %>

<div class="container-fluid">
  <div class="row mt-2">
    <% products.forEach((product) => { %>
      <div class="col-md-4 col-lg-2 mt-3 m-md-0">
        <img src="/<%= product.imagePath %>" class="img-fluid" style="width: 150px; height: 150px">
        <div class="d-inline-block d-md-block align-top mt-2">
          <h5><%= product.name %></h5> 
          <p><strong>$<%= product.price %></strong></p>
          <a href="/products/<%=product.id%>">Details</a>
          <form action="/cart" method="POST"> 
            <button class="btn btn-success btn-sm" type="submit">Add to Cart</button>
            <input type="hidden" name="id" value="<%= product.id %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          </form>
        </div>
      </div>
    <% }); %>
  </div>
  <%- include('../includes/pagination') %>
</div>


<%- include('../includes/footer'); %>