<%- include('../includes/header'); %>

<div class="container">
  <h1>My Orders</h1>
  <% orders.forEach(order => { %>
    <div class="row mt-5" style="width: 80%">
      <div class="col-7">
        <p>Date: </p>
        <p>Total: <%= order.totalPrice %></p>
      </div>
      <div class="col-7">
        <ul class="list-group">
          <% order.products.forEach(product => { %>
            <li class="list-group-item">
              <div>
                <span><%= product.name %></span>
              </div>
              <div>
                <span>$<%= product.price %></span>
              </div>
              <div>
                <span>Qty: <%= product.quantity %></span>
              </div>
            </li>
          <% }) %>
        </ul>
        <hr style="border: 0.5px solid grey">
      </div>
    </div>
    <% }) %>
</div>


<%- include('../includes/footer'); %>